<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntels.ccbs.system.mapper.common.common.ChangePasswordMngMapper">
	<select id="getCheckIdPw" resultType="UserMngVO">
	 	SELECT 
	 		USER_ID
	 		,PASSWORD
			,PASSWORD1
		FROM TSYCO_USER
		WHERE USER_ID =#{userId}
		AND PASSWORD = #{password}	 	
	</select>
	
	<update id="updatePassword">
		UPDATE 
			TSYCO_USER
		SET
			PASSWORD = #{currentPw}
			, PASSWORD1 = #{password1}
			, PASSWORD2 = #{password2}
			,CHGR_ID =#{userId}
			,CHG_DATE = SYSDATE
		WHERE USER_ID =#{userId}
	</update>
</mapper>