<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntels.ccbs.charge.mapper.billing.billingAdjust.BillingAdjustMapper">

<!-- 수납 조회 -->
    <!-- 요금조정신청내역 -->
    <select id="getAdjList" parameterType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO" resultType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO">
        SELECT 'N'                 AS "_transaction_type_"
             , B.ADJ_NO
             , '0'                 AS BILL_YYMM
             , '0'                 AS BILL_CYCL
             , '0'                 AS BILL_DT
             , '0'                 AS BILL_SEQ_NO
             , B.PYM_ACNT_ID
             , B.RCPT_ID
             , B.APPL_DTTM
             , B.APPNT_NM
             , B.APPNT_TEL_NO
             , B.ADJ_RESN_CD
             , B.ADJ_APPL_CONTS
             , '0'                 AS ADJ_BILL_DT
             , B.HOPE_APLY_YYMM
             , B.HOPE_APLY_YYMM    AS HOPE_APLY_YYMM_END
             , B.RCPT_PSN_ID
             , B.RCPT_DTTM
             , B.APPR_REQR_ID
             , B.APPR_REQ_DTTM
             , B.DCSN_PROC_STAT
             , B.ADJ_PT
             , B.BILL_RE_ISS_YN
             , B.APPL_SO_ID
             , B.APPRR_ID
          FROM TBLIV_CHRG_ADJ_APLY   B                   /* 요금조정신청내역 */
         WHERE B.ADJ_NO              = #{billingAdjust.adjNo}
           AND B.ADJ_PT              = #{billingAdjust.adjPt} /* 조정시점(1:청구전,2:청구후,3:일회성) */
    </select>
    
    <select id="getBillClsInfo" parameterType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO" resultType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO">
        SELECT BILL_YYMM
             , CLS_DT
         FROM
              (
                SELECT BILL_YYMM
                     , CLS_DT
                  FROM TBLIV_CLS_INFO               /* 마감정보 */
                 WHERE CLS_TSK_CL  = #{billingAdjust.clsTskCl}   /* 마감업무구분(BLIV030 11:청구작업완료, 21:수납작업완료) */
                   AND CLS_YN      = 'Y'            /* 마감완료여부(Y:마감) */
                   AND BILL_CYCL   = #{billingAdjust.billCycl}
                   AND SO_ID       = #{billingAdjust.soId}
                 ORDER BY BILL_YYMM DESC
               ) A
        WHERE ROWNUM &lt;= 1
    </select>
            
    <select id="getBeforeAdjTgtList" parameterType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO" resultType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO">
     <![CDATA[   /*com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO.getBeforeAdjTgtList*/
    SELECT 'N'
     , B.ADJ_NO
     , '0'                                        AS USE_YYMM
     , A.PROD_CMPS_ID
     , A.SVC_CMPS_ID
     , A.CHRG_ITM_CD
     , A.CHRG_ITM_NM
     , A.CUST_ID
     , A.CTRT_ID
     , A.CUST_NM
     , A.SO_ID
     , 0                                          AS ADJ_PRV_BILL_AMT
     , 0                                          AS ADJ_AMT
     , 0                                          AS ADJ_AFT_BILL_AMT
     , IFNULL(B.ADJ_APPL_AMT,0)    AS ADJ_APPL_AMT     /* 신청금액 */
     , IFNULL(B.ADJ_APPL_AMT,0)    AS ORG_ADJ_APPL_AMT /* 신청금액과 원래값 비교 */
     , B.ADJ_PT
     , A.PROD_CD
     , A.SVC_CD
     , A.EXRATE
     , A.CRNCY_CD
     , A.EXRATE_APLY_DT
     , A.ATTR_VAL
     , (
        SELECT PROD_NM
          FROM TPMPD_PROD X                      /* 상품정보 */
         WHERE X.PROD_CD            = A.PROD_CD
           AND X.MSTR_FL            = '1'
           AND X.SO_ID              = A.SO_ID
       )                            AS PROD_NM
     , (
        SELECT SVC_NM
          FROM TPMSV_SVC X                       /* 서비스정보 */
         WHERE X.SVC_CD             = A.SVC_CD
           AND X.MSTR_FL            = '1'
           AND X.SO_ID              = A.SO_ID
       )                            AS SVC_NM
     , (
        SELECT SO_NM
          FROM TSYCO_SO_MAST X                   /* SO 마스타*/
         WHERE X.SO_ID              = A.SO_ID
       )                            AS SO_NM
     , RATE_STRT_DT                                     /* 과금계시일 */
     , RATE_END_DT                                      /* 과금종료일 */
     , CTRT_STAT_NM                                     /* 계약상태 */
     , A.SVC_TEL_NO
  FROM (
        /* 가입된 상품의 과금항목을 조회 */
		SELECT DISTINCT
               A1.PYM_ACNT_ID
             , A3.CUST_NM
             , A2.CTRT_ID
             , C1.PROD_CMPS_ID
             , B1.SVC_CMPS_ID
             , A3.CUST_ID
             , A2.SO_ID
             , C1.PROD_CD
             , B1.SVC_CD
             , D1.SVC_RATE_ITM_TYP_CD    AS CHRG_ITM_CD
             , IFNULL(F1.ATTR_VAL, 'X')  AS ATTR_VAL
             , D1.SVC_RATE_ITM_TYP_NM    AS CHRG_ITM_NM
             , D1.DISP_PRI_NO                           /* 출력순서 */
             , A2.RATE_STRT_DT                          /* 과금개시일 */
             , A2.RATE_END_DT                           /* 과금종료일 */
             , A2.SVC_TEL_NO
             , (SELECT NAME.CODE_NM AS COMMON_CD_NM
                  FROM TSYCO_CODE_MAST MAST
                      ,TSYCO_CODE_MAST_NAME MNAME
                      ,TSYCO_CODE_DETAIL DETAIL
                      ,TSYCO_CODE_DETAIL_NAME NAME
                 WHERE MAST.COMMON_GRP=DETAIL.COMMON_GRP
                   AND MAST.COMMON_GRP   =MNAME.COMMON_GRP
                   AND MNAME.LNG_TYP     ='ko' /* INPUT */
                   AND DETAIL.COMMON_GRP =NAME.COMMON_GRP
                   AND DETAIL.COMMON_CD  =NAME.COMMON_CD
                   AND NAME.LNG_TYP      ='ko' /* INPUT */
                   AND MAST.COMMON_GRP   ='CM00023'
                   AND DETAIL.COMMON_CD = A2.CTRT_STAT
               ) AS CTRT_STAT_NM                        /* 계약구분 */
             , I1.EXRATE
             , I1.CRNCY_CD
             , I1.EXRATE_APLY_DT
          FROM TCMCU_PYM_ACNT_INFO         A1           /* 납부계정정보 */
             , TCMCT_CTRT_INFO             A2           /* 계약정보 */
             , TCMCU_CUST_INFO             A3           /* 고객정보 */
             , TCMCT_SVC_CMPS_INFO         B1           /* 서비스구성정보 */
             , TCMCT_PROD_CMPS_INFO        C1           /* 상품구성정보 */
             , TPMPD_SVC_RATE_ITM_TYP      D1           /* 서비스과금항목유형 */
             , TPMPD_SVC_RATE_ITM_TYP_ATTR F1           /* 서비스과금항목유형속성 */
             , TPMPD_RATE_ITM              G1
             , TPMPD_RATE                  H1
             , TBLIV_EXRATE_INFO           I1
         WHERE A1.PYM_ACNT_ID           = A2.PYM_ACNT_ID
           AND A2.CUST_ID               = A3.CUST_ID
           AND A1.SO_ID                 = A2.SO_ID
           AND A1.SO_ID                 = A3.SO_ID
           AND A2.SO_ID                 = B1.SO_ID
           AND A2.CUST_ID               = A3.CUST_ID
           AND A2.CTRT_ID               = B1.CTRT_ID
           AND B1.SO_ID                 = C1.SO_ID
           AND B1.CTRT_ID               = C1.CTRT_ID
           AND B1.PROD_CMPS_ID          = C1.PROD_CMPS_ID
           AND B1.SVC_CD                = D1.SVC_CD
           AND D1.SVC_RATE_ITM_TYP_CD   = F1.SVC_RATE_ITM_TYP_CD
           AND D1.SVC_RATE_ITM_TYP_CD   NOT IN ('SR008', 'SR511', 'SR001', 'SR003', 'SR004') /*부가세, 특소세, 일회성요금 제외 */
           AND G1.PROD_CD               = B1.PROD_CD
           AND G1.SVC_RATE_ITM_TYP_CD   = D1.SVC_RATE_ITM_TYP_CD
           AND A1.PYM_ACNT_ID           = #{billingAdjust.pymAcntId}  /* INPUT */
           AND A2.INACT_DTTM            = '99991231235959'
           AND A2.CTRT_STAT             NOT IN ('10', '99', '50', '90')
           AND B1.SVC_STS_CD            NOT IN ('10', '99', '50', '90')
           AND C1.INACT_DTTM            = '99991231235959'
           AND B1.INACT_DTTM            = '99991231235959'
--           AND (B1.EQT_CL_CD IS NULL       OR  B1.EQT_CL_CD NOT IN ('090501','090701'))
           AND D1.CHRG_CTGRY            IN ('R','U','N')        /* 요금영역(R:정액,U:종량) */
           AND D1.MSTR_FL               = '1'
           AND F1.MSTR_FL               = '1'
           AND F1.ATTR_CD               IN ('AT006', 'DF059')   /* 속성(요금조정대상항목) */
           AND F1.ATTR_VAL              = '1'                   /* 요금조정대상 */
           AND G1.SO_ID                 = H1.SO_ID
           AND G1.RATE_ITM_CD           = H1.RATE_ITM_CD
           AND H1.INACT_DT              = '99991231'
           AND H1.CRNCY_CD              = I1.CRNCY_CD
           AND I1.EXRATE_APLY_DT        IN (
                                            SELECT MAX(EXRATE_APLY_DT)
                                              FROM TBLIV_EXRATE_INFO Z
                                             WHERE Z.CRNCY_CD      = I1.CRNCY_CD
                                               AND EXRATE_APLY_DT  <= DATE_FORMAT(NOW(), '%Y%m%d')
                                           )
     UNION ALL
        /* 가입된 상품의 과금항목외에 조정금액을 넣어 처리하기 위해 추가로 SR코드를 생성하여 처리 */
		SELECT A1.PYM_ACNT_ID
             , A3.CUST_NM
             , A2.CTRT_ID
             , C1.PROD_CMPS_ID
             , B1.SVC_CMPS_ID
             , A3.CUST_ID
             , A2.SO_ID
             , C1.PROD_CD
             , B1.SVC_CD
             , 'SR999'           AS CHRG_ITM_CD
             , '1'               AS ATTR_VAL
             , 'Adjustment Fee'  AS CHRG_ITM_NM
             , 99999                                             /* 출력순서 */
             , A2.RATE_STRT_DT                                   /* 과금계시일 */
             , A2.RATE_END_DT                                    /* 과금종료일 */
             , A2.SVC_TEL_NO
             , (SELECT NAME.CODE_NM AS COMMON_CD_NM
                  FROM TSYCO_CODE_MAST MAST
                      ,TSYCO_CODE_MAST_NAME MNAME
                      ,TSYCO_CODE_DETAIL DETAIL
                      ,TSYCO_CODE_DETAIL_NAME NAME
                 WHERE MAST.COMMON_GRP=DETAIL.COMMON_GRP
                   AND MAST.COMMON_GRP   =MNAME.COMMON_GRP
                   AND MNAME.LNG_TYP     ='ko'  /* INPUT */
                   AND DETAIL.COMMON_GRP =NAME.COMMON_GRP
                   AND DETAIL.COMMON_CD  =NAME.COMMON_CD
                   AND NAME.LNG_TYP      ='ko'  /* INPUT */
                   AND MAST.COMMON_GRP   ='CM00023'
                   AND DETAIL.COMMON_CD = A2.CTRT_STAT
                 ) AS CTRT_STAT_NM                               /* 계약구분 */
             , G1.EXRATE
             , G1.CRNCY_CD
             , G1.EXRATE_APLY_DT
          FROM TCMCU_PYM_ACNT_INFO         A1                    /* 납부계정정보 */
             , TCMCT_CTRT_INFO             A2                    /* 계약정보 */
             , TCMCU_CUST_INFO             A3                    /* 고객정보 */
             , TCMCT_SVC_CMPS_INFO         B1                    /* 서비스구성정보 */
             , TCMCT_PROD_CMPS_INFO        C1                    /* 상품구성정보 */
             , TPMPD_RATE_ITM              D1
             , TPMPD_SVC_RATE_ITM_TYP      E1                    /* 서비스과금항목유형 */
             , TPMPD_RATE                  F1
             , TBLIV_EXRATE_INFO           G1
         WHERE A1.PYM_ACNT_ID           = A2.PYM_ACNT_ID         /* 납부계정ID */
           AND A2.CUST_ID               = A3.CUST_ID             /* 고객ID */
           AND A1.SO_ID                 = A2.SO_ID
           AND A1.SO_ID                 = A3.SO_ID
           AND A2.SO_ID                 = B1.SO_ID
           AND A2.CTRT_ID               = B1.CTRT_ID
           AND B1.SO_ID                 = C1.SO_ID
           AND B1.CTRT_ID               = C1.CTRT_ID
           AND B1.PROD_CMPS_ID          = C1.PROD_CMPS_ID
           AND A2.PROD_CMPS_ID          = C1.PROD_CMPS_ID        /* 기본상품만(무조건 한건) */
           AND A1.PYM_ACNT_ID           = #{billingAdjust.pymAcntId}  /* INPUT */
           AND A2.INACT_DTTM            = '99991231235959'
           AND A2.CTRT_STAT             NOT IN ('10', '99', '50', '90')
           AND B1.SVC_STS_CD            NOT IN ('10', '99', '50', '90')
           AND B1.INACT_DTTM            = '99991231235959'
--           AND (B1.EQT_CL_CD IS NULL       OR  B1.EQT_CL_CD NOT IN ('090501','090701'))
           AND C1.INACT_DTTM            = '99991231235959'
           AND A2.PROD_CD               = D1.PROD_CD
           AND D1.RATE_ITM_CD           = F1.RATE_ITM_CD
           AND D1.SVC_RATE_ITM_TYP_CD   = E1.SVC_RATE_ITM_TYP_CD
           AND D1.SO_ID                 = F1.SO_ID
           AND F1.INACT_DT              = '99991231'
           AND F1.CRNCY_CD              = G1.CRNCY_CD
           AND G1.EXRATE_APLY_DT        IN (
                                            SELECT MAX(EXRATE_APLY_DT)
                                              FROM TBLIV_EXRATE_INFO Z
                                             WHERE Z.CRNCY_CD      = G1.CRNCY_CD
                                               AND EXRATE_APLY_DT  <= DATE_FORMAT(NOW(), '%Y%m%d')
                                           )
      ) A LEFT OUTER JOIN
      (
         SELECT  X.ADJ_NO
               , Y.PROD_CMPS_ID
               , Y.SVC_CMPS_ID
               , Y.CHRG_ITM_CD
               , Y.ADJ_APPL_AMT
               , X.ADJ_PT
               , Y.CTRT_ID
               , Y.CRNCY_CD
               , Y.EXRATE
               , Y.EXRATE_APLY_DT
            FROM TBLIV_CHRG_ADJ_APLY      X                         /* 요금조정신청 */
               , TBLIV_CHRG_ADJ_APLY_DTL  Y                         /* 요금조정신청상세 */
           WHERE X.ADJ_NO                 = Y.ADJ_NO ]]>
        <if test="billingAdjust.adjNo == null or billingAdjust.adjNo == ''">
             AND X.ADJ_NO                 = '0000000000'
        </if>
        <if test="billingAdjust.adjNo != null and billingAdjust.adjNo != ''">
                     AND X.ADJ_NO                 = #{billingAdjust.adjNo}     /* INPUT */
        </if>
             AND X.ADJ_PT                 = #{billingAdjust.adjPt}                   /* 조정시점(BLIV015, 1:청구전,2:청구후) */
       ) B ON A.PROD_CMPS_ID = B.PROD_CMPS_ID AND A.SVC_CMPS_ID = B.SVC_CMPS_ID AND A.CHRG_ITM_CD = B.CHRG_ITM_CD
	 WHERE 1=1  
	 ORDER BY SO_NM, A.CUST_NM, A.CTRT_ID, PROD_NM, SVC_NM, A.ATTR_VAL, A.DISP_PRI_NO
	
    </select>
    
    <select id="getAfterAdjTgtList" parameterType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO" resultType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO">
        SELECT /*+ INDEX(A1 PK_TBLIV_BILL) */
               'N'                         AS GUBUN
             , A1.BILL_SEQ_NO
             , A1.USE_YYMM
             , A1.PROD_CMPS_ID
             , A1.SVC_CMPS_ID
             , A1.CHRG_ITM_CD
             , A1.SO_ID
             , A1.CUST_ID
             , A1.GRP_ID
             , A1.CTRT_ID
             , A1.BILL_CYCL
             , A1.ADJ_PRV_BILL_AMT          AS ADJ_PRV_BILL_AMT /* 청구전조정금액 */
             , A1.ADJ_AMT                   AS ADJ_AMT          /* 조정금액 */
             , A1.BILL_AMT                  AS ADJ_AFT_BILL_AMT /* 청구금액 */
             , IFNULL(C1.ADJ_APPL_AMT,0)    AS ADJ_APPL_AMT     /* 신청금액 */
             , IFNULL(C1.ADJ_APPL_AMT,0)    AS ORG_ADJ_APPL_AMT
             , A1.RCPT_AMT                                      /* 수납금액 */
             , A1.BILL_AMT - RCPT_AMT       AS UNPAY_AMT        /* 미납금액 */
             , C1.ADJ_NO
             , C1.ADJ_RESN_CD
             , IFNULL(C1.ADJ_PT, '2')       AS ADJ_PT           /* 조정시점(1:청구전,2:청구후,3:일회성) */
             , A1.CRNCY_CD
             , A1.EXRATE
             , A1.EXRATE_APLY_DT
             , A1.PROD_CD
             , A1.SVC_CD
             , IFNULL(D1.ATTR_VAL, 'X')     AS ATTR_VAL         /* 요금조정대상항목여부(1:대상, X:미대상) */
             , A1.BILL_MM_TP                                    /* 청구대상월구분(0:당납, 1:후납) */
             , A1.USG_CNT
             , (CASE #DECODE(C1.ADJ_NO, NULL, TO_CHAR(SYSDATE,'YYYYMM'), C1.HOPE_APLY_YYMM)
                     #WHEN TO_CHAR(SYSDATE,'YYYYMM') THEN '0'
                     CASE C1.ADJ_NO WHEN NULL THEN DATE_FORMAT(NOW(),'%Y%m')
                                    ELSE C1.HOPE_APLY_YYMM END
                     WHEN DATE_FORMAT(NOW(),'%Y%m') THEN '0'
                     ELSE '1'
                END)                        AS MM_TP            /* 요금조정대상항목여부(0:당납상품만대상, 1:당후납모든상품)*/
             , E1.CUST_NM                   AS CUST_NM
             , F1.PROD_NM                   AS PROD_NM
             , D2.SVC_RATE_ITM_TYP_NM       AS CHRG_ITM_NM
             , (SELECT SO_NM
                  FROM TSYCO_SO_MAST        X                   /* SO 마스타*/
                 WHERE X.SO_ID              = A1.SO_ID
               )                            AS SO_NM
             , E2.SVC_TEL_NO AS SVC_TEL_NO
        FROM   TBLIV_BILL               A1                      /* 청구내역 */
               LEFT OUTER JOIN
              (SELECT B1.BILL_SEQ_NO
                    , B2.ADJ_NO
                    , B2.USE_YYMM
                    , B2.PROD_CMPS_ID
                    , B2.SVC_CMPS_ID
                    , B2.CHRG_ITM_CD
                    , B2.ADJ_PRV_BILL_AMT
                    , B2.ADJ_AMT
                    , B2.ADJ_AFT_BILL_AMT
                    , B2.ADJ_APPL_AMT
                    , B1.ADJ_PT
                    , B1.HOPE_APLY_YYMM
                    , B1.ADJ_RESN_CD
               FROM   TBLIV_CHRG_ADJ_APLY      B1             /* 요금조정신청내역 */
                    , TBLIV_CHRG_ADJ_APLY_DTL  B2             /* 요금조정신청상세내역 */
               WHERE  B1.ADJ_NO       = B2.ADJ_NO
           <if test="billingAdjust.adjNo == null or billingAdjust.adjNo == ''">
               AND    B1.ADJ_NO       = '0000000000'
           </if>
           <if test="billingAdjust.adjNo != null and billingAdjust.adjNo != ''">
               AND    B1.ADJ_NO       = #{billingAdjust.adjNo}
           </if>
               AND    B1.ADJ_PT       = #{billingAdjust.adjPt}
                ) C1
               ON  A1.BILL_SEQ_NO      = C1.BILL_SEQ_NO
               AND A1.USE_YYMM         = C1.USE_YYMM
               AND A1.PROD_CMPS_ID     = C1.PROD_CMPS_ID
               AND A1.SVC_CMPS_ID      = C1.SVC_CMPS_ID
               AND A1.CHRG_ITM_CD      = C1.CHRG_ITM_CD
             , IFNBRM_SVC_RATE_ITM_ATTR_INFO  D1                     /* 서비스과금항목유형속성 */
             , IFNBRM_SVC_RATE_ITM_INFO       D2                     /* 서비스과금항목유형 */
             , IFNBRM_CUST_INFO  E1
             , IFNBRM_CTRT_INFO  E2
             , IFNBRM_PROD_INFO  F1
        WHERE  1=1
        AND    A1.BILL_SEQ_NO      = #{billingAdjust.billSeqNo}
        AND    A1.SO_ID            = #{billingAdjust.soId}
        AND    A1.SO_ID            = D1.SO_ID
        AND    A1.SO_ID            = D2.SO_ID
        AND    A1.SO_ID            = E1.SO_ID
        AND    A1.SO_ID            = E2.SO_ID
        AND    A1.SO_ID            = F1.SO_ID
        AND    A1.CHRG_ITM_CD      = D1.SVC_RATE_ITM_TYP_CD
        AND    A1.CHRG_ITM_CD      = D2.SVC_RATE_ITM_TYP_CD
        AND    A1.CTRT_ID          = E2.CTRT_ID
        AND    A1.CUST_ID          = E1.CUST_ID
        AND    A1.PYM_ACNT_ID      = E1.PYM_ACNT_ID
        AND    D1.INACT_DT         = '99991231'
        AND    E2.INACT_DTTM       = '99991231235959'
        AND    A1.SVC_CMPS_ID      = E2.SVC_CMPS_ID
        AND    A1.PROD_CMPS_ID     = E2.PROD_CMPS_ID
        AND    A1.PROD_CD          = F1.PROD_CD
    <if test="billingAdjust.billYymm != null and billingAdjust.billYymm != ''">
        AND    A1.BILL_YYMM        = #{billingAdjust.billYymm}
    </if>
        AND    D1.ATTR_CD          = 'AT006'               /* 속성코드(요금조정대상항목) Vads에서는  AT006 코드로 변경해야함*/
        AND    D1.ATTR_VAL         = '1'                        /* 속성값 (요금조정 대상) */
        ORDER  BY SO_NM, CUST_NM, A1.CTRT_ID, C1.USE_YYMM, PROD_NM, SVC_NM, D2.DISP_PRI_NO
    </select>
</mapper>