<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntels.ccbs.charge.mapper.billing.billingAdjust.BillingBeforeAdjustMapper">

<!-- 수납 조회 -->
    <!-- 수납 통계조회 -->
    <select id="getPymList" parameterType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO" resultType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO">
     /*com.ntels.ccbs.charge.mapper.billing.billingAdjust.BillingBeforeAdjustMapper.getPymList*/
	      SELECT SO_ID
              ,CONCAT(PYM_ACNT_ID, '  ', ACNT_NM) AS PYM_ACNT
              ,PYM_ACNT_ID
              ,CUST_NM
              ,CUST_TP
              ,(SELECT  NAME.CODE_NM AS COMMON_CD_NM
                                FROM    TSYCO_CODE_MAST MAST
                                        , TSYCO_CODE_MAST_NAME MNAME
                                        , TSYCO_CODE_DETAIL DETAIL
                                        , TSYCO_CODE_DETAIL_NAME NAME
                                WHERE   MAST.COMMON_GRP=DETAIL.COMMON_GRP
                                        AND MAST.COMMON_GRP   =MNAME.COMMON_GRP
                                        AND MNAME.LNG_TYP     =#{billingBeforeAdjust.lngTyp}
                                        AND DETAIL.COMMON_GRP =NAME.COMMON_GRP
                                        AND DETAIL.COMMON_CD  =NAME.COMMON_CD
                                        AND NAME.LNG_TYP      =#{billingBeforeAdjust.lngTyp}
                                        AND MAST.COMMON_GRP   ='CM00009'
                                        AND DETAIL.COMMON_CD = CUST_TP
                            ) AS CUST_TP_NM
              ,CONCAT(CONCAT(CONCAT(CONCAT(PZIP_CD,' '), PBASE_ADDR), ' '),PADDR_DTL) AS ADDR
         FROM IFNBRM_CUST_INFO
         WHERE SO_ID = #{billingBeforeAdjust.soId}
           AND ACNT_NM = #{billingBeforeAdjust.custNm}
    </select>
    
    <select id="getPymBillList" parameterType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO" resultType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO">
	/* com.ntels.ccbs.charge.mapper.billing.billingAdjust.BillingBeforeAdjustMapper.getPymBillList */
		SELECT '0'                                 AS CHK_JOB
	     , A.PYM_ACNT_ID                                            /* 납부계정ID */
	     , A.PYM_ACNT_NM                                            /* 납부자명 */
	     , A.CTRT_ID_CNT                                            /* 계약ID */
	     , A.PROD_CD_CNT                                            /* 상품건수 */
	     , A.SVC_CD_CNT                                             /* 서비스건수 */
	     , B.ADJ_NO                                                 /* 조정일련번호 */
	     , B.BILL_SEQ_NO                                            /* 청구일련번호 */
	     , IFNULL(B.ADJ_PT, '1')               AS ADJ_PT            /* 조정시점 1:청구전 2:청구후 */
	     , B.HOPE_APLY_YYMM                                         /* 희망적용녀월 */
	     , B.DCSN_PROC_STAT                                         /* 진행상태코드 */
	     ,(SELECT NAME.CODE_NM AS COMMON_CD_NM
                  FROM TSYCO_CODE_MAST MAST
                      ,TSYCO_CODE_MAST_NAME MNAME
                      ,TSYCO_CODE_DETAIL DETAIL
                      ,TSYCO_CODE_DETAIL_NAME NAME
                 WHERE MAST.COMMON_GRP=DETAIL.COMMON_GRP
                   AND MAST.COMMON_GRP   =MNAME.COMMON_GRP
                   AND MNAME.LNG_TYP     ='ko' /* INPUT */
                   AND DETAIL.COMMON_GRP =NAME.COMMON_GRP
                   AND DETAIL.COMMON_CD  =NAME.COMMON_CD
                   AND NAME.LNG_TYP      ='ko' /* INPUT */
                   AND MAST.COMMON_GRP   ='BL00055'
                   AND DETAIL.COMMON_CD = B.DCSN_PROC_STAT
               ) AS DCSN_PROC_STAT_NM                        		/* 진행상태 NM */
	     , IFNULL(B.ADJ_APPL_AMT,0)            AS ADJ_APPL_AMT      /* 신청금액 */
	     , IFNULL(B.HOPE_APLY_YYMM,'999999')   AS ORDER_NUM         /* ORDER BY */
	     , APPL_DTTM                                                /* 신청일시 */
	     , RCPT_PSN_NM                                              /* 접수자 */
	     , APPL_SO_NM                                               /* 접수자소속 */
	     , A.SO_ID
	     ,(SELECT SO_NM
	         FROM TSYCO_SO_MAST
	        WHERE SO_ID = A.SO_ID) AS SO_NM 
	     , B.APPRR_ID
  		FROM (
        	SELECT PYM_ACNT_ID
	             , PYM_ACNT_NM
	             , COUNT(CTRT_ID)     AS CTRT_ID_CNT
	             , SUM(PROD_CD_CNT)   AS PROD_CD_CNT
	             , SUM(SVC_CD_CNT)    AS SVC_CD_CNT
	             , SO_ID
          	FROM (
                SELECT A1.PYM_ACNT_ID
                     , A2.CUST_NM           AS PYM_ACNT_NM
                     , A3.CTRT_ID
                     , A3.SO_ID
                     , ( SELECT COUNT(Z.PROD_CMPS_ID)
                           FROM TCMCT_PROD_CMPS_INFO Z
                          WHERE 1=1
                            AND Z.SO_ID      = A3.SO_ID
                            AND Z.CTRT_ID    = A3.CTRT_ID
                            AND Z.INACT_DTTM = '99991231235959'
                       )                        AS PROD_CD_CNT
                     , ( SELECT COUNT(Z.SVC_CMPS_ID)
                           FROM TCMCT_SVC_CMPS_INFO Z
                          WHERE 1=1
                            AND Z.SO_ID      = A3.SO_ID
                            AND Z.CTRT_ID    = A3.CTRT_ID
                            AND Z.INACT_DTTM = '99991231235959'
                       )                        AS SVC_CD_CNT
                  FROM TCMCU_PYM_ACNT_INFO  A1
                     , TCMCU_CUST_INFO      A2
                     , TCMCT_CTRT_INFO      A3
                 WHERE 1=1
                   AND A1.SO_ID           = #{billingBeforeAdjust.soId}           /* INPUT */
                   AND A1.PYM_ACNT_ID     = #{billingBeforeAdjust.pymAcntId}    /* INPUT */
                   AND A1.PYM_ACNT_ID     = A3.PYM_ACNT_ID
                   AND A1.CUST_ID         = A2.CUST_ID
                   AND A1.SO_ID           = A2.SO_ID
                   AND A2.SO_ID           = A3.SO_ID
                   AND A3.CTRT_STAT       NOT IN ('10', '99' , '50', '90')
                   AND A3.INACT_DTTM      = '99991231235959'
               ) A
	        GROUP BY PYM_ACNT_ID, PYM_ACNT_NM, SO_ID
	       ) A LEFT JOIN
	      (
	       SELECT X.ADJ_NO
	            , X.BILL_SEQ_NO
	            , X.ADJ_PT
	            , X.PYM_ACNT_ID
	            , X.HOPE_APLY_YYMM
	            , X.DCSN_PROC_STAT
	            , X.APPL_DTTM
	            , (SELECT USER_NAME
	                 FROM TSYCO_USER X                                           /* 사용자*/
	                WHERE X.USER_ID         = X.RCPT_PSN_ID)  AS RCPT_PSN_NM     /* 접수자명 */
	            , (SELECT SUM(ADJ_APPL_AMT)
	                 FROM TBLIV_CHRG_ADJ_APLY_DTL                                /* 요금조정신청상세 */
	                WHERE ADJ_NO           = X.ADJ_NO)       AS ADJ_APPL_AMT     /* 신청금액 */
	            , ( SELECT Y.SO_NM
	                  FROM TSYCO_SO_MAST   Y                                     /* SO 마스타*/
	                 WHERE Y.SO_ID        = X.APPL_SO_ID
	              )                        AS APPL_SO_NM                         /* 접수자소속 */
	            , X.APPRR_ID
	         FROM TBLIV_CHRG_ADJ_APLY      X                                     /* 요금조정신청 */
       		 WHERE 1=1
	          AND X.ADJ_PT         = #{billingBeforeAdjust.adjPt}          /* 조정시점(BLIV015, 1:청구전,2:청구후) */
       UNION ALL
       SELECT NULL AS ADJ_NO
            , NULL AS BILL_SEQ_NO
            , #{billingBeforeAdjust.adjPt}  AS ADJ_PT					  /* 조정시점(BLIV015, 1:청구전,2:청구후) */
            , #{billingBeforeAdjust.pymAcntId} AS PYM_ACNT_ID     /* INPUT */
            , NULL AS HOPE_APLY_YYMM
            , NULL AS DCSN_PROC_STAT
            , NULL AS APPL_DTTM
            , NULL AS RCPT_PSN_NM
            , NULL AS ADJ_APPL_AMT
            , NULL AS APPL_SO_NM
            , NULL AS APPRR_ID
         FROM DUAL
      ) B ON A.PYM_ACNT_ID = B.PYM_ACNT_ID
 	WHERE 1=1
	ORDER BY HOPE_APLY_YYMM DESC
    </select>
    
    <select id="getPymRcpt" parameterType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO" resultType="com.ntels.ccbs.charge.domain.billing.billingAdjust.BillingAdjustVO">
        SELECT (SELECT IFNULL(SUM(RCPT_AMT),0)
                FROM   TBLIV_BILL   A
                WHERE  BILL_SEQ_NO      = #{billingAdjust.billSeqNo}
                AND    A.BILL_YYMM      = #{billingAdjust.billYymm}
               )                                            AS BILL_RCPT_AMT
             , (SELECT /*+ INDEX(A IX_TBLPY_RCPT_05) */
                       IFNULL(SUM(B.RCPT_AMT),0)
                FROM   TBLPY_RCPT       A                                           /* 수납내역 */
                     , TBLPY_RCPT_DTL   B
                WHERE  A.PYM_SEQ_NO     = B.PYM_SEQ_NO
                AND    A.BILL_SEQ_NO    = #{billingAdjust.billSeqNo}
                AND    A.CNCL_YN        = 'N'
                AND    A.PAY_TP         != '7'                                     /* (-)매출수납  */
                AND    A.BILL_YYMM      = #{billingAdjust.billYymm}
               )                                            AS PYM_RCPT_AMT
             , (SELECT /*+ INDEX(A IX_TBLIV_TAX_BILL_02) */
                       (CASE  COUNT(*) WHEN 0 THEN 'N' ELSE 'Y' END) AS TAX_BILL_YN
                FROM   TBLIV_TAX_BILL   A                                           /* 세금계산서내역 */
                WHERE  BILL_SEQ_NO      = #{billingAdjust.billSeqNo}
                AND    TAX_DCLR_CL      &gt; '0'                                    /* 신고구분(0:신고전, 1:예정신고, 2:확정신고) */
                AND    A.BILL_YYMM      = #{billingAdjust.billYymm}
               )                                            AS TAX_BILL_YN
        FROM   DUAL
    </select>
</mapper>