@charset "utf-8";
/* CSS Document */


/* body */
html, body{margin:0; padding:0;line-height:1.5em; color:#666;}

/* wrapper */
#header_wrapper {margin:0 Auto;  }

/* header */
#header { clear:both;position:relative;height:65px; margin:0 auto;padding:0;} 
h1{ position:absolute; left:40px; top:5px;  line-height:0;}

#container_wrap {min-width:1250px;position:relative; width:100%; margin:0 Auto;  }
.header_top {position:relative; width:100%; height:20px;margin:0 auto;border-top:2px solid #5faa2f;border-bottom:1px solid #dcdcdc; background:#f5f5f5;}
.header_top a.icona{ position:absolute; left:10px; top:2px;padding:20px;background:url(/images/icon/disk_01.png) no-repeat 0 0px;color:#ff0000;}
.header_top a.iconb{ position:absolute; left:10px; top:2px;padding:20px;background:url(/images/icon/disk_02.png) no-repeat 0 0px;color:#003dd8;}



#header #globalmenu { position:absolute; right:20px; top:5px;}
#header #globalmenu ul { margin:0; padding:0;}
#header #globalmenu li  { float:left; padding:0 2px;}
#header #globalmenu li.user { padding-top:3px;font-size:11px;padding-left:20px;background:url(/images/icon/user_icon.gif) no-repeat 0 5px;}
#header #globalmenu.sel_inp {font-size:0;box-sizing:border-box;}


/* container */
.home_wrap {min-width:1250px;;position:relative; margin:15px 0 0 0;}
.home_wrap .left  {float:left; position: relative; width:220px;height:100%; padding:0 ;  margin:0 ; }
.home_wrap .right { position: relative;min-height:710px;overflow: hidden; margin:0;height:100%;padding:3px 20px 40px 20px; border-left:1px solid #d8d8d8; }

.folding{ position:absolute; left:220px; top:0;}

/* footer_wrap */
#footer_wrap {border-top:1px solid #ccc;text-align:center;background:#f7f7f7;}
#footer_wrap address{ color:#999;font-size:11px; z-index:1;padding:10px 0 10px 0;}

/* title */
h3 {color:#000; font-weight:bold;font-size:14px;margin:5px 0 10px 0; padding: 7px 0 13px 0; background:url(/images/common/title_img.png) no-repeat 0 0;/*border-bottom:3px solid #35a7e5;*/ }
.h3_bg {width:100%; background:url(/images/common/title_img_bg.png) repeat-x 10px 0;margin-bottom:10px; }
h4.lnb_title {height:20px;width:220px;text-align:center;border-top:3px solid #5faa2f;border-bottom:1px solid #dcdcdc; color:#4a9e00;font-size:15px; margin:0;padding: 10px 0 7px 0;}

/* Navigator */
.nav { position:absolute; right:20px; top:20px; font-size:10px; color:#666;}
.nav .home { font-weight:bold;padding:2px 0 0 17px;background:url(/images/icon/home.png) no-repeat 0 2px; color:#555;}
.nav  span { color:#ccc; font-size:10px;padding: 0 2px}

/* gnb*/
.gnb_wrap{width:80%; position:absolute; left:220px; top:30px;}

		ul#gnb li {
			font-size:14px;letter-spacing:-1px; 
			display: inline-block; 
			position: relative;
			float: left;
		}
		ul#gnb li ul { display: none;width:200px; }
		ul#gnb li a {
			display: block;
			text-decoration: none;
			color: #666;
			border-top: 1px solid #ffffff;
			padding: 5px 30px ;
			background: #fff;
			margin-left: 1px;
			white-space: nowrap;
		}
		ul#gnb li a:hover {background: #f3f3f3; color:#4a9e00;font-weight:normal;}
		ul#gnb li .on { font-size:18px;color:#4a9e00;  font-weight:normal;  letter-spacing:-1px; background:#f5f5f5;  }
		ul#gnb li:hover ul { 
			border:1px solid #dcdcdc; 
			overflow: hidden;
			background:#fff;
			display: block; 
			position: absolute;
			z-index:99;
			
			box-shadow:5px 5px 3px silver;
			-moz-box-shadow:5px 5px 3px silver;
			-webkit-box-shadow:5px 5px 3px silver;
		}
		ul#gnb li ul li { background: #fff; color:#4a9e00;
			font-size: 11px;width:100%; font-weight:normal;border-bottom:1px solid #dcdcdc; 
		}
		ul#gnb li ul li a:hover { background: #f3f3f3; color:#4a9e00;
			font-weight:normal;
		}


/*lnb*/
.left_box {width:220px;  padding:0;   margin:0;  }
#lnb > ul{background:#fff;}
#lnb > ul > li {border-bottom:1px solid #dcdcdc;}
#lnb > ul > li > a { background:#fff url("/images/icon/left_off.gif") no-repeat 195px 11px;display:block; overflow:hidden; padding:8px 23px 8px 10px; line-height:13px; color:#6d7380; font-size:12px;}
#lnb > ul > li > a:hover { background:#77c05f url("/images/icon/left_on.gif") no-repeat 195px 11px; color:#fff;}
#lnb > ul > li.on > a {color:#fff; background:#77c05f url("/images/icon/left_on.gif") no-repeat 195px 11px;}
#lnb > ul > li > ul {height:0; overflow:hidden; background:#fff;}
#lnb > ul > li > ul > li  {border-top:1px dotted #dcdcdc; background:#f9f9f9}
#lnb > ul > li > ul > li:hover  { background:#fff;}
#lnb > ul > li > ul > li > a {font-size:11px; display:block;  padding:6px 10px 6px 20px; line-height:13px; color:#8a8c91; font-size:11px; background: url("/images/icon/left_s_off.png") no-repeat 11px 10px;}
#lnb > ul > li > ul > li > a:hover{color:#77c05f; background:#fff url("/images/icon/left_s_on.png") no-repeat 11px 10px;}
#lnb > ul > li > ul > li.on > a {color:#77c05f;background:#fff url("/images/icon/left_s_on.png") no-repeat 11px 10px; }


/*로그인*/
#contents {overflow: auto;
    width: 100%;
		height:100%;
    background-color: #fff;
    position: absolute;
    top:0;
  	padding-top:140px;}
 .copy { width:350px;;border-top:1px solid #c7c7c7; margin:30px auto 0; padding:10px 0 20px 0;text-align:center; font-size:11px; color:#959595 ;}
.login_box {width:350px; margin: 0 auto; text-align:center;}
.login_box li{padding:5px 0; text-align:center;margin: 0 auto; }
.login_box li input{margin-left:2px;font-weight:bold;width:357px;font-size:16px;height:40px;/*line-height:40px;*/ color:#888 ;border:1px solid #c7c7c7; padding:10px;background-color:#f9f9f9;}
.login_box li  .id{font-weight:bold;font-size:16px; color:#888 ;border:1px solid #c7c7c7;}
.login_box li  .id:hover{border:1px solid #6b9237;background-color:#edffd6; }
.login_box li  .pw{font-weight:bold;font-size:16px;color:#888 ;border:1px solid #c7c7c7;}
.login_box li  .pw:hover{border:1px solid #6b9237;background-color:#edffd6;}


.Loading_wrap {  overflow-y:auto;
	  position:absolute;  
	  left: 50%;
	  top: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	  z-index:8888;
	 margin:0; 
	 padding:0; 
	 }
	 

/* Layer */
.Layer_wrap {  overflow-y:auto;
	  position:absolute;  
	  left: 45%;
	  top: 45%;
	-ms-transform: translate(-45%, -45%);
	-webkit-transform: translate(-45%, -45%);
	-moz-transform: translate(-45%, -45%);
    transform: translate(-45%, -45%);
	  z-index:8888;
	 margin:0; 
	 padding:0; 
	 border:2px solid #69822b;
	 background:#fff;
	 }
.layer_top{position: relative;overflow:hidden;margin:0 ; padding:0;background:#87a440; border-bottom:2px solid #69822b;}
.layer_top .title{float:left;padding:7px 0 5px 35px;font-size:15px;color:#fff;font-weight:bold;background:  url(/images/icon/ly_icon.png)  no-repeat 10px 8px;}
.layer_top a{float:right; overflow:hidden;margin:5px;width:30px; height:22px;  background:  url(/images/icon/close_on.gif)  no-repeat 0 0; text-indent: -9999px;}
.layer_top a:active{ background:  url(/images/icon/close_off.gif)  no-repeat 0 0;}
.layer_box{margin:5px;background:#fff;}

/* error */
.error{width:450px !important;background:url(/images/common/home_img.gif) no-repeat 5px 0; margin:0 auto ; margin-top:200px; text-align:center; padding:0;}
.error .text{font-size:17px;color:#749b2f;font-weight:bold;}
.error .texta{font-size:13px;color:#666666;font-weight:normal; }
.error  ul {margin-left:130px;margin-bottom:20px;}
.error  li {text-align:left; line-height:1.6em;}

#mask {  
	  position:absolute; 
	  height:100%;
	  width:100%;
	  z-index:7777;  
	  background-color:#000;  
	  display:none;  
	  left:0;
	  top:0;
}

#loadingMask {  
	  position:absolute; 
	  height:100%;
	  width:100%;
	  z-index:7777;  
	  display:none;  
	  left:0;
	  top:0;
}


.txt_r{text-align:right}
.h50{height:50px !important;}
.h60{height:60px !important;}
.h70{height:70px !important;}
.h80{height:80px !important;}
.h90{height:90px !important;}
.h100{height:100px !important;}
.h150{height:150px !important;}
.h174{height:174px !important;}
.h230{height:230px !important;}
.h300{height:300px !important;}

.w10 {width:10px !important;}
.w20 {width:20px !important;}
.w30 {width:30px !important;}
.w35 {width:35px !important;}
.w40 {width:40px !important;}
.w45 {width:45px !important;}
.w50 {width:50px !important;}
.w60 {width:60px !important;}
.w65 {width:65px !important;}
.w70 {width:70px !important;}
.w75 {width:75px !important;}
.w80 {width:80px !important;}
.w85 {width:85px !important;}
.w90 {width:90px !important;}
.w95 {width:95px !important;}
.w100 {width:100px !important;}
.w105 {width:105px !important;}
.w110 {width:110px !important;}
.w115 {width:115px !important;}
.w120 {width:120px !important;}
.w123 {width:123px !important;}
.w125 {width:125px !important;}
.w130 {width:130px !important;}
.w133 {width:133px !important;}
.w135 {width:135px !important;}
.w140 {width:140px !important;}
.w145 {width:145px !important;}
.w150 {width:150px !important;}
.w155 {width:155px !important;}
.w160 {width:160px !important;}
.w165 {width:165px !important;}
.w170 {width:170px !important;}
.w175 {width:175px !important;}
.w180 {width:180px !important;}
.w190 {width:190px !important;}
.w195 {width:195px !important;}
.w196 {width:196px !important;}
.w200 {width:200px !important;}
.w205 {width:205px !important;}
.w210 {width:210px !important;}
.w220 {width:220px !important;}
.w225 {width:225px !important;}
.w230 {width:230px !important;}
.w233 {width:233px !important;}
.w235 {width:235px !important;}
.w240 {width:240px !important;}
.w250 {width:250px !important;}
.w254 {width:254px !important;}
.w255 {width:255px !important;}
.w260 {width:260px !important;}
.w265 {width:265px !important;}
.w270 {width:270px !important;}
.w280 {width:280px !important;}
.w285 {width:285px !important;}
.w290 {width:290px !important;}
.w300 {width:300px !important;}
.w305 {width:305px !important;}
.w310 {width:310px !important;}
.w315 {width:315px !important;}
.w320 {width:320px !important;}
.w330 {width:330px !important;}
.w340 {width:340px !important;}
.w350 {width:350px !important;}
.w355 {width:355px !important;}
.w360 {width:360px !important;}
.w365 {width:365px !important;}
.w370 {width:370px !important;}
.w378 {width:378px !important;}
.w380 {width:380px !important;}
.w390 {width:390px !important;}
.w392 {width:392px !important;}
.w400 {width:400px !important;}
.w420 {width:420px !important;}
.w440 {width:440px !important;}
.w450 {width:450px !important;}
.w460 {width:460px !important;}
.w490 {width:490px !important;}
.w500 {width:500px !important;}
.w520 {width:515px !important;}
.w530 {width:530px !important;}
.w540 {width:540px !important;}
.w550 {width:550px !important;}
.w580 {width:580px !important;}
.w590 {width:590px !important;}
.w600 {width:600px !important;}
.w615 {width:615px !important;}
.w640 {width:640px !important;}
.w700 {width:700px !important;}
.w755 {width:755px !important;}
.w760 {width:760px !important;}
.w770 {width:770px !important;}
.w800 {width:800px !important;}
.w840 {width:840px !important;}
.w850 {width:850px !important;}
.w860 {width:860px !important;}
.w950 {width:950px !important;}

.mw100 {min-width:100px !important;}

.w5p {width:5% !important;}
.w6p {width:6% !important;}
.w7p {width:7% !important;}
.w8p {width:8% !important;}
.w9p {width:9% !important;}
.w10p {width:10% !important;}
.w11p {width:11% !important;}
.w12p {width:12% !important;}
.w13p {width:13% !important;}
.w14p {width:14% !important;}
.w15p {width:15% !important;}
.w16p {width:16% !important;}
.w17p {width:17% !important;}
.w18p {width:18% !important;}
.w19p {width:19% !important;}
.w20p {width:20% !important;}
.w21p {width:21% !important;}
.w22p {width:22% !important;}
.w23p {width:23% !important;}
.w24p {width:24% !important;}
.w25p {width:25% !important;}
.w26p {width:26% !important;}
.w27p {width:27% !important;}
.w28p {width:28% !important;}
.w29p {width:29% !important;}
.w30p {width:30% !important;}
.w31p {width:31% !important;}
.w32p {width:32% !important;}
.w33p {width:33% !important;}
.w34p {width:34% !important;}
.w35p {width:35% !important;}
.w36p {width:36% !important;}
.w37p {width:37% !important;}
.w38p {width:38% !important;}
.w39p {width:39% !important;}
.w40p {width:40% !important;}
.w41p {width:41% !important;}
.w42p {width:42% !important;}
.w43p {width:43% !important;}
.w44p {width:44% !important;}
.w45p {width:45% !important;}
.w46p {width:46% !important;}
.w47p {width:47% !important;}
.w48p {width:48% !important;}
.w49p {width:49% !important;}
.w50p {width:50% !important;}
.w51p {width:51% !important;}
.w52p {width:52% !important;}
.w53p {width:53% !important;}
.w54p {width:54% !important;}
.w55p {width:55% !important;}
.w56p {width:56% !important;}
.w57p {width:57% !important;}
.w58p {width:58% !important;}
.w59p {width:59% !important;}
.w60p {width:60% !important;}
.w61p {width:61% !important;}
.w62p {width:62% !important;}
.w63p {width:63% !important;}
.w64p {width:64% !important;}
.w65p {width:65% !important;}
.w66p {width:66% !important;}
.w67p {width:67% !important;}
.w68p {width:68% !important;}
.w69p {width:69% !important;}
.w70p {width:70% !important;}
.w71p {width:71% !important;}
.w72p {width:72% !important;}
.w73p {width:73% !important;}
.w74p {width:74% !important;}
.w75p {width:75% !important;}
.w76p {width:76% !important;}
.w77p {width:77% !important;}
.w78p {width:78% !important;}
.w79p {width:79% !important;}
.w80p {width:80% !important;}
.w81p {width:81% !important;}
.w82p {width:82% !important;}
.w83p {width:83% !important;}
.w84p {width:84% !important;}
.w85p {width:85% !important;}
.w86p {width:86% !important;}
.w87p {width:87% !important;}
.w88p {width:88% !important;}
.w89p {width:89% !important;}
.w90p {width:90% !important;}
.w91p {width:91% !important;}
.w92p {width:92% !important;}
.w93p {width:93% !important;}
.w94p {width:94% !important;}
.w95p {width:95% !important;}
.w96p {width:96% !important;}
.w97p {width:97% !important;}
.w98p {width:98% !important;}
.w99p {width:99% !important;}
.w100p {width:100% !important;}
.w100ps {width:100%;}


/* margin-bottom */
.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;}
.mb60{margin-bottom:60px !important;}
.mb70{margin-bottom:70px !important;}
.mb80{margin-bottom:80px !important;}


/* margin-left */
.ml10{margin-left:11px !important;}
.ml14{margin-left:12px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}
.ml40{margin-left:40px !important;}
.ml50{margin-left:50px !important;}
.ml60{margin-left:60px !important;}
.ml70{margin-left:70px !important;}
.ml80{margin-left:80px !important;}
.ml90{margin-left:90px !important;}
.ml100{margin-left:100px !important;}
.ml110{margin-left:110px !important;}
.ml150{margin-left:150px !important;}
.ml200{margin-left:200px !important;}

/* margin-right */
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mr50{margin-right:50px !important;}


/* margin-top */
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}

a.right {
   display: inline-block;
   text-align: right;
   width: 100%;
}