
@media print {
@page {
    size:auto;
    margin-top:2.5cm;
    margin-right:2cm;
    margin-bottom:1.5cm;
    margin-left:2cm;
  	}
 	h3 {
   		page-break-after: avoid;
	}
	#paging     { display:none }

	.grid{
	page-break-before:always
	}
	#print_btn { display:none; }
	.printer_icon{display:none;}
}

