<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntels.ccbs.charge.mapper.charge.calculationSearch.PaymentDistSearchMapper">

<select id = "getChargeDiscountInfoList" resultType = "java.util.HashMap">
/*PaymentDistSearchMapper.getChargeDiscountInfoList*/
<include refid="com.ntels.ccbs.system.mapper.common.service.CommonCfgMapper.paging_head"/>
	SELECT 
		  A.SO_ID
     	, A.BILL_YYMM
		, A.BILL_CYCL
     	, A.PYM_ACNT_ID /* 납부계정ID */
     	, (SELECT ACNT_NM
           FROM TCMCU_PYM_ACNT_INFO
           WHERE 1=1
           AND PYM_ACNT_ID = A.PYM_ACNT_ID) AS ACNT_NM /* 납부계정명 */
     	, A.CUST_ID /* 고객ID */
     	, (SELECT CUST_NM
           FROM TCMCU_CUST_INFO
           WHERE SO_ID = A.SO_ID
           AND CUST_ID = A.CUST_ID) AS CUST_NM /* 고객명 */
     	, A.CTRT_ID /* 계약ID */
     	, (SELECT SVC_TEL_NO
           FROM TCMCT_CTRT_INFO
           WHERE SO_ID = A.SO_ID
           AND CTRT_ID = A.CTRT_ID
           AND INACT_DTTM = '99991231235959') AS SVC_TEL_NO /* 서비스번호 */
     	, (SELECT PROD_NM
           FROM TCMCT_CTRT_INFO B
        		,TPMPD_PROD C
    	   WHERE B.SO_ID = A.SO_ID
           AND B.CTRT_ID = A.CTRT_ID
           AND B.INACT_DTTM = '99991231235959'
           AND B.PROD_CD = C.PROD_CD) AS PROD_NM /* 상품명 */
     	, SUM(A.USE_AMT) AS TOT_USE_AMT /* 이용금액 */
     	, SUM(A.DC_AMT) AS TOT_DC_AMT /* 할인금액 */
  	FROM (
        SELECT A.SO_ID
             , A.BILL_YYMM
             , A.BILL_CYCL
             , A.PYM_ACNT_ID
             , A.CUST_ID
             , A.CTRT_ID
             , B.CHRG_CTGRY
             , CASE WHEN B.CHRG_CTGRY <![CDATA[ <> 'D' THEN SUM(A.USE_AMT) ELSE 0 END AS USE_AMT ]]>
             , CASE WHEN B.CHRG_CTGRY = 'D' THEN SUM(A.USE_AMT) ELSE 0 END AS DC_AMT
          FROM TBLCH_CHRG A
              ,TPMPD_RATE_ITM B
         WHERE 1=1
           <if test='soId != null and soId != "SEL" '>
				AND A.SO_ID       = #{soId} /*INPUT*/
           </if>
           <if test='billYymm != null and billYymm != "" '>
           		AND A.BILL_YYMM   = #{billYymm} /*INPUT*/
           </if>
           <if test='pymAcntId != null and pymAcntId != "" '>
           		AND A.PYM_ACNT_ID = #{pymAcntId} /*INPUT*/
           </if>
           <if test='custId != null and custId != "" '>
           		AND A.CUST_ID     = #{custId} /*INPUT*/
           </if>
           AND A.RATE_ITM_CD = B.RATE_ITM_CD
        GROUP BY A.SO_ID, A.BILL_YYMM, A.BILL_CYCL, A.PYM_ACNT_ID, A.CUST_ID, A.CTRT_ID, B.CHRG_CTGRY
       ) A
   	WHERE 1=1
   	GROUP BY A.SO_ID, A.BILL_YYMM, A.BILL_CYCL, A.PYM_ACNT_ID, A.CUST_ID, A.CTRT_ID
	ORDER BY A.CTRT_ID
<include refid="com.ntels.ccbs.system.mapper.common.service.CommonCfgMapper.paging_foot"/>
</select>

<select id="chrgDistListCnt" resultType ="int">
/*PaymentDistSearchMapper.totalCount*/
		SELECT COUNT(TT.CUST_ID)
 FROM (SELECT A.SO_ID
     , A.BILL_YYMM
     , A.BILL_CYCL
     , A.PYM_ACNT_ID /* 납부계정ID */
     , (SELECT ACNT_NM
          FROM TCMCU_PYM_ACNT_INFO
         WHERE 1=1
           AND PYM_ACNT_ID = A.PYM_ACNT_ID) AS ACNT_NM /* 납부계정명 */
     , A.CUST_ID /* 고객ID */
     , (SELECT CUST_NM
          FROM TCMCU_CUST_INFO
         WHERE SO_ID = A.SO_ID
           AND CUST_ID = A.CUST_ID) AS CUST_NM /* 고객명 */
     , A.CTRT_ID /* 계약ID */
     , (SELECT SVC_TEL_NO
          FROM TCMCT_CTRT_INFO
         WHERE SO_ID = A.SO_ID
           AND CTRT_ID = A.CTRT_ID
           AND INACT_DTTM = '99991231235959') AS SVC_TEL_NO /* 서비스번호 */
     , (SELECT PROD_NM
          FROM TCMCT_CTRT_INFO B
              ,TPMPD_PROD C
         WHERE B.SO_ID = A.SO_ID
           AND B.CTRT_ID = A.CTRT_ID
           AND B.INACT_DTTM = '99991231235959'
           AND B.PROD_CD = C.PROD_CD) AS PROD_NM /* 상품명 */
     , SUM(A.USE_AMT) AS TOT_USE_AMT /* 이용금액 */
     , SUM(A.DC_AMT) AS TOT_DC_AMT /* 할인금액 */
  FROM (
        SELECT A.SO_ID
             , A.BILL_YYMM
             , A.BILL_CYCL
             , A.PYM_ACNT_ID
             , A.CUST_ID
             , A.CTRT_ID
             , B.CHRG_CTGRY
             , CASE WHEN B.CHRG_CTGRY <![CDATA[ <> 'D' THEN SUM(A.USE_AMT) ELSE 0 END AS USE_AMT ]]>
             , CASE WHEN B.CHRG_CTGRY = 'D' THEN SUM(A.USE_AMT) ELSE 0 END AS DC_AMT
          FROM TBLCH_CHRG A
              ,TPMPD_RATE_ITM B
         WHERE 1=1
           <if test='soId != null and soId != "SEL" '>
				AND A.SO_ID       = #{soId} /*INPUT*/
           </if>
           <if test='billYymm != null and billYymm != "" '>
           		AND A.BILL_YYMM   = #{billYymm} /*INPUT*/
           </if>
           <if test='pymAcntId != null and pymAcntId != "" '>
           		AND A.PYM_ACNT_ID = #{pymAcntId} /*INPUT*/
           </if>
           <if test='custId != null and custId != "" '>
           		AND A.CUST_ID     = #{custId} /*INPUT*/
           </if>
           AND A.RATE_ITM_CD = B.RATE_ITM_CD
        GROUP BY A.SO_ID, A.BILL_YYMM, A.BILL_CYCL, A.PYM_ACNT_ID, A.CUST_ID, A.CTRT_ID, B.CHRG_CTGRY
       ) A
   WHERE 1=1
GROUP BY A.SO_ID, A.BILL_YYMM, A.BILL_CYCL, A.PYM_ACNT_ID, A.CUST_ID, A.CTRT_ID) TT
</select>

<select id = "getChargeDiscountInfoDetList" resultType = "java.util.HashMap">
/*PaymentDistSearchMapper.getChargeDiscountInfoDetList*/	
<include refid="com.ntels.ccbs.system.mapper.common.service.CommonCfgMapper.paging_head"/>
	SELECT 
		A.USE_YYMM /*사용년월*/
      	,C.PROD_CD
      	,(SELECT PROD_NM
          FROM TPMPD_PROD
          WHERE SO_ID = A.SO_ID
          AND PROD_CD = C.PROD_CD) AS PROD_NM /* 상품명 */
      	,B.RATE_ITM_NM /*할인과금항목명*/
      	,DATEDIFF(DATE_FORMAT(CONCAT(A.BILL_YYMM,'01'),'%Y-%m-%d'),DATE_FORMAT(CONCAT(A.USE_YYMM,'01'),'%Y-%m-%d')) AS STD_DD_CNT /*기준일수*/
      	,TRUNCATE(A.USE_CNT, 0) AS USE_DD_CNT/*이용일수*/
      	,TRUNCATE(A.USE_AMT, 0) AS DC_AMT/*할인금액*/
  	FROM TBLCH_CHRG A
      	,TPMPD_RATE_ITM B
      	,TCMCT_PROD_CMPS_INFO C
	WHERE 1=1
	<if test='soId != null and soId != "SEL" '>
		AND A.SO_ID      = #{soId} /*INPUT*/
	</if>
	<if test='billYymm != null and billYymm != "" '>
		AND A.BILL_YYMM    = #{billYymm} /*INPUT*/
	</if>
	<if test='pymAcntId != null and pymAcntId != "" '>
		AND A.PYM_ACNT_ID  = #{pymAcntId} /*INPUT*/
	</if>
	<if test='ctrtId != null and ctrtId != "" '>
		AND A.CTRT_ID      = #{ctrtId}
	</if>
   	AND A.RATE_ITM_CD  = B.RATE_ITM_CD
   	AND B.CHRG_CTGRY   = 'D' -- 할인항목
   	AND A.CTRT_ID      = C.CTRT_ID
   	AND C.INACT_DTTM   = '99991231235959'
   	AND A.PROD_CMPS_ID = C.PROD_CMPS_ID
 	ORDER BY PROD_CD
<include refid="com.ntels.ccbs.system.mapper.common.service.CommonCfgMapper.paging_foot"/>
</select>

<select id = "chrgDistDetListCnt" resultType = "int">
/*PaymentDistSearchMapper.chrgDistDetListCnt*/
	SELECT COUNT(*)
  	FROM TBLCH_CHRG A
      	,TPMPD_RATE_ITM B
      	,TCMCT_PROD_CMPS_INFO C
	WHERE 1=1 
	<if test='soId != null and soId != "SEL" '>
		AND A.SO_ID      = #{soId} /*INPUT*/
	</if>
	<if test='billYymm != null and billYymm != "" '>
		AND A.BILL_YYMM    = #{billYymm} /*INPUT*/
	</if>
	<if test='pymAcntId != null and pymAcntId != "" '>
		AND A.PYM_ACNT_ID  = #{pymAcntId} /*INPUT*/
	</if>
	<if test='ctrtId != null and ctrtId != "" '>
		AND A.CTRT_ID      = #{ctrtId}
	</if>
   	AND A.RATE_ITM_CD  = B.RATE_ITM_CD
   	AND B.CHRG_CTGRY   = 'D' -- 할인항목
   	AND A.CTRT_ID      = C.CTRT_ID
   	AND C.INACT_DTTM   = '99991231235959'
   	AND A.PROD_CMPS_ID = C.PROD_CMPS_ID
</select>
</mapper>