<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/oxm
                           http://www.springframework.org/schema/context/spring-oxm-3.0.xsd">


	<!-- **************************************************************** -->
	<!-- REST -->
	<!-- **************************************************************** -->
	<!-- View 를 찾기위해 요청 URL의 확장자와 AcceptHeader를 사용 -->
	<bean id="contentResolver"
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="order" value="#{T(org.springframework.core.Ordered).HIGHEST_PRECEDENCE+10}" />
		<!-- 확장자와 contentType 을 연결해 준다. -->
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
				<entry key="xml" value="application/xml" />
				<entry key="xlsx" value="application/vnd.ms-excel" />
			</map>
		</property>
		<property name="defaultViews">
			<list>
				<!-- JSON View -->
				<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView"/>

				<!-- XML View -->
				<bean class="org.springframework.web.servlet.view.xml.MarshallingView">
         			<property name="marshaller">
             			<bean class="org.springframework.oxm.xstream.XStreamMarshaller">
                 			<property name="autodetectAnnotations" value="true" />
                 		</bean>

                 	</property>
             	</bean>

             	<!-- Excel View -->
             	<bean id="excelXlsxView" class="com.ntels.ccbs.common.view.ExcelXlsxView"/>
			</list>
		</property>
		<property name="ignoreAcceptHeader" value="true" />
	</bean>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
			p:order="#{contentResolver.order+10}">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- **************************************************************** -->
	<!-- Saves a locale change using a cookie -->
	<!-- **************************************************************** -->
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />

</beans>


