<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntels.ccbs.charge.mapper.batchprocmng.assrtransmng.AssrTransMapper">
	
	<select id="getAssrTransBalList" parameterType="String" resultType="TransCommBalVO">
		SELECT  /* AssrTransMapper.xml.getAssrTransBalList, 양연희, 2017.11.24 */
				A.ASSR_OCC_SEQ_NO AS TRANS_TGT_OCC_SEQ_NO
        		,NVL(A.ASSR_BAL, 0.0) AS TRANS_BAL
        		,A.PYM_SEQ_NO AS ASSR_PYM_SEQ_NO
				,B.PREPAY_OCC_TGT_SEQ_NO AS DPST_SEQ_NO
		FROM    TBLPY_ASSR_OCC A
				,TBLPY_PREPAY_OCC B
		WHERE	A.PYM_ACNT_ID = #{pymAcntId}
		<if test="assrApplTgtNo != null">
		AND		A.ASSR_OCC_SEQ_NO = #{assrApplTgtNo}
		</if>
		AND     NVL(A.CNCL_YN, 'N') != 'Y'
		AND		A.ASSR_BAL > 0
		AND		B.PREPAY_OCC_SEQ_NO = A.DPST_TP_SEQ_NO
		AND		B.PREPAY_OCC_TP = '01'
		UNION ALL
		SELECT	A.ASSR_OCC_SEQ_NO AS TRANS_TGT_OCC_SEQ_NO
        		,NVL(A.ASSR_BAL, 0.0) AS TRANS_BAL
        		,A.PYM_SEQ_NO AS ASSR_PYM_SEQ_NO
				,C.DPST_SEQ_NO
		FROM    TBLPY_ASSR_OCC A
				,TBLPY_PREPAY_OCC B
				,TBLPY_RCPT C
		WHERE	A.PYM_ACNT_ID = #{pymAcntId}
		<if test="assrApplTgtNo != null">
		AND		A.ASSR_OCC_SEQ_NO = #{assrApplTgtNo}
		</if>
		AND     NVL(A.CNCL_YN, 'N') != 'Y'
		AND		A.ASSR_BAL > 0
		AND		B.PREPAY_OCC_SEQ_NO = A.DPST_TP_SEQ_NO
		AND		B.PREPAY_OCC_TP = '03'
		AND		C.PYM_SEQ_NO = B.PREPAY_OCC_TGT_SEQ_NO
		UNION ALL
		SELECT  A.ASSR_OCC_SEQ_NO AS TRANS_TGT_OCC_SEQ_NO
        		,NVL(A.ASSR_BAL, 0.0) AS TRANS_BAL
        		,A.PYM_SEQ_NO AS ASSR_PYM_SEQ_NO
				,C.DPST_TP_SEQ_NO AS DPST_SEQ_NO
		FROM    TBLPY_ASSR_OCC A
				,TBLPY_PREPAY_OCC B
				,TBLPY_AMBG_OCC C
		WHERE	A.PYM_ACNT_ID = #{pymAcntId}
		<if test="assrApplTgtNo != null">
		AND		A.ASSR_OCC_SEQ_NO = #{assrApplTgtNo}
		</if>
		AND     NVL(A.CNCL_YN, 'N') != 'Y'
		AND		A.ASSR_BAL > 0
		AND		B.PREPAY_OCC_SEQ_NO = A.DPST_TP_SEQ_NO
		AND		B.PREPAY_OCC_TP = '02'
		AND		C.AMBG_OCC_SEQ_NO = B.PREPAY_OCC_TGT_SEQ_NO
	</select>

	<select id="getAssrTransBalListRetry" parameterType="String" resultType="TransCommBalVO">
		SELECT  /* AssrTransMapper.xml.getAssrTransBalListRetry, MIG데이타에 선수금정보가 없어서 처리대상 데이터 임의생성, 신광진, 2018.03.30 */
				A.ASSR_OCC_SEQ_NO AS TRANS_TGT_OCC_SEQ_NO
        		,NVL(A.ASSR_BAL, 0.0) AS TRANS_BAL
        		,A.PYM_SEQ_NO AS ASSR_PYM_SEQ_NO
				,'0000000000' AS DPST_SEQ_NO
		FROM    TBLPY_ASSR_OCC A
		WHERE	A.PYM_ACNT_ID = #{pymAcntId}
		<if test="assrApplTgtNo != null">
		AND		A.ASSR_OCC_SEQ_NO = #{assrApplTgtNo}
		</if>
		AND     NVL(A.CNCL_YN, 'N') != 'Y'
		AND		A.ASSR_BAL > 0
	</select>

	<insert id="insertAssrTransHist" parameterType="AssrTransHistVO">
		INSERT INTO	/* AssrTransMapper.xml.insertAssrTransHist, 양연희, 2017.11.24 */
					TBLPY_ASSR_TRANS_HIST
					(ASSR_TRANS_SEQ_NO
            		,ASSR_OCC_SEQ_NO
            		,TRANS_PROC_DTTM
            		,ASSR_REPL_TP
            		,TRANS_PROC_AMT
            		,PROC_MEMO
            		,APPR_REQR_ID
            		,APPR_REQ_DTTM
            		,DCSN_PROC_STAT
            		,APPRR_ID
            		,APPR_DTTM
            		,CNCL_YN
            		,CNCL_DTTM
            		,BAL_AMT
            		,ERP_SND_YN
            		,INPT_MENU_ID
            		,REGR_ID
            		,REG_DATE
            		,CHGR_ID
            		,CHG_DATE
					)
			VALUES	(#{assrTransHistVO.assrTransSeqNo}
					,#{assrTransHistVO.assrOccSeqNo}
					,#{assrTransHistVO.transProcDttm}
					,#{assrTransHistVO.assrReplTp}
					,#{assrTransHistVO.transProcAmt}
					,#{assrTransHistVO.procMemo}
					,#{assrTransHistVO.apprReqrId}
					,#{assrTransHistVO.apprReqDttm}
					,#{assrTransHistVO.dcsnProcStat}
					,#{assrTransHistVO.apprrId}
					,#{assrTransHistVO.apprDttm}
					,#{assrTransHistVO.cnclYn}
					,#{assrTransHistVO.cnclDttm}
					,#{assrTransHistVO.balAmt}
					,#{assrTransHistVO.erpSndYn}
					,#{assrTransHistVO.inptMenuId}
					,#{assrTransHistVO.regrId}
					,#{assrTransHistVO.regDate}
					,#{assrTransHistVO.regrId}
					,#{assrTransHistVO.regDate}
					)
	</insert>
	
	<update id="updateAssrOccBalAmt" parameterType="AssrOccVO">
		UPDATE	/* AssrTransMapper.xml.updateAssrOccBalAmt, 양연희, 2017.11.24 */
				TBLPY_ASSR_OCC
		SET		ASSR_PROC_STAT	= #{assrOccVO.assrProcStat}
				,ASSR_TRANS_AMT	= NVL(ASSR_TRANS_AMT, 0) + #{assrOccVO.assrTransAmt}
				,ASSR_BAL		= NVL(ASSR_BAL, 0) - #{assrOccVO.assrTransAmt}
				,TRANS_CMPL_YN	= DECODE(SIGN(NVL(ASSR_BAL, 0) - #{assrOccVO.assrTransAmt}), 1, 'N', 'Y')
				,TRANS_DT		= #{assrOccVO.transDt} 
				,CHGR_ID		= #{assrOccVO.regrId}
				,CHG_DATE		= #{assrOccVO.regDate}
		WHERE	ASSR_OCC_SEQ_NO	= #{assrOccVO.assrOccSeqNo}
	</update>
	
	<select id="getCnclAssrRcptInfo" parameterType="String" resultType="BillListVO">
		SELECT  /* AssrTransMapper.xml.getCnclAssrRcptInfo, 양연희, 2018.02.09 */
				A.SO_ID
				,B.PYM_ACNT_ID
				,B.BILL_SEQ_NO
        		,A.USE_YYMM
        		,A.SVC_CMPS_ID
        		,A.PROD_CMPS_ID
        		,A.CHRG_ITM_CD
        		,D.BILL_YYMM
				,D.BILL_CYCL
				,D.BILL_DT
        		,D.CUST_ID
				,D.CTRT_ID
				,D.BILL_AMT
				,D.MNG_CNTER_ORG_ID
				,D.MNG_BR_ORG_ID
				,D.MNGR_ID
		FROM    TBLPY_RCPT_DTL A
        		,TBLPY_RCPT B
        		,TPMPD_SVC_RATE_ITM_TYP C
        		,TBLIV_BILL D
		WHERE   A.PYM_SEQ_NO = #{pymSeqNo}
		AND     B.PYM_SEQ_NO = A.PYM_SEQ_NO
		AND     C.SVC_RATE_ITM_TYP_CD = A.CHRG_ITM_CD
		AND     C.RATE_ITM_TYP_CD = 'CT111'
		AND		D.SO_ID = A.SO_ID
		AND		D.PYM_ACNT_ID = B.PYM_ACNT_ID
		AND		D.BILL_SEQ_NO = B.BILL_SEQ_NO
		AND		D.USE_YYMM = A.USE_YYMM
		AND		D.SVC_CMPS_ID = A.SVC_CMPS_ID
		AND		D.PROD_CMPS_ID = A.PROD_CMPS_ID
		AND		D.CHRG_ITM_CD = A.CHRG_ITM_CD
	</select>
	
	<insert id="insertAssrMinusReceipt" parameterType="ReceiptVO">
		INSERT INTO /* AssrTransMapper.xml.insertAssrMinusReceipt, 양연희, 2018.02.10 */
					TBLPY_RCPT
		(
			PYM_SEQ_NO
			,DPST_SEQ_NO
			,BILL_SEQ_NO
			,BILL_YYMM
			,BILL_CYCL
 			,BILL_DT
 			,SO_ID
			,PYM_ACNT_ID
			,PAY_PROC_DT
			,PAY_TP
			,PAY_OBJ_AMT
			,PAY_APLY_AMT
			,PREPAY_APLY_AMT
			,RCPT_AMT
			,PREPAY_OCC_SEQ_NO
			,PREPD_CTRT_ID
			,CNCL_YN
			,RCPT_OPETR_ID
			,BDDBT_RCPT_YN
			,ERP_SND_YN
			,INPT_MENU_ID
			,REGR_ID
			,REG_DATE
			,CHGR_ID
			,CHG_DATE
		)
		SELECT	#{receiptVO.pymSeqNo}
		     	,#{receiptVO.dpstSeqNo}
		     	,#{receiptVO.billSeqNo}
		     	,#{receiptVO.billYymm}
		     	,#{receiptVO.billCycl}
		     	,#{receiptVO.billDt}
		     	,#{receiptVO.soId}
		     	,#{receiptVO.pymAcntId}
		     	,#{receiptVO.payProcDt}
		     	,#{receiptVO.payTp}
		     	,A.PAY_OBJ_AMT
		     	,A.PAY_APLY_AMT
		     	,A.PREPAY_APLY_AMT
		     	,A.PAY_APLY_AMT
		     	,#{receiptVO.prepayOccSeqNo}
		     	,#{receiptVO.prepdCtrtId}
		     	,#{receiptVO.cnclYn}
		     	,#{receiptVO.rcptOpetrId}
		     	,#{receiptVO.bddbtRcptYn}
		     	,#{receiptVO.erpSndYn}
		     	,#{receiptVO.inptMenuId}
		     	,#{receiptVO.regrId}
		     	,#{receiptVO.regDate}
		     	,#{receiptVO.regrId}
		     	,#{receiptVO.regDate}
		FROM	(SELECT SUM(BILL_AMT) AS PAY_OBJ_AMT
						,SUM(RCPT_AMT) AS PAY_APLY_AMT
						,SUM(PRE_PYM_AMT) AS PREPAY_APLY_AMT
				FROM	TBLPY_RCPT_DTL
				WHERE	PYM_SEQ_NO = #{receiptVO.pymSeqNo}) A
		
	</insert>

</mapper>